.user-details {
    margin-left: 25%;
    .user-image {
        img {
            width: 400px;
            height: 300px;
        }
    }
    .user-name, .user-email, .user-mobile {
        padding: 5px;
    }
}