.navbar {
    .container {
        ul {
            li {
                padding: 15px;
                span {
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}