.sideNavBar {
    background: #ccc;
    height: auto;
    ul {
        li {
            padding: 10px;
            div {
                a {
                    text-decoration: none;
                }
            }
        }
    }
}